In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['patch.force_edgecolor'] = True
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score

In [149]:
# Load your CSV file

df = pd.read_csv('resources/kaggle_bot_accounts.csv')

# Display the first few rows to check the data
print(df.head())

   Unnamed: 0                     NAME  GENDER                    EMAIL_ID  \
0           0        Johnny KerrThomas    Male     jacksonalan@example.com
1           1        Dwayne LarsenLara    Male        calvin80@example.com
2           2                      NaN    Male          qbrown@example.net
3           3  Russell SimmonsPhillips    Male  kimberlywagner@example.com
4           4     Jamie WilsonMartinez  Female     shaunbrooks@example.com

  IS_GLOGIN  FOLLOWER_COUNT  FOLLOWING_COUNT  DATASET_COUNT  CODE_COUNT  \
0     False            53.0             87.0            5.0         3.0
1      True            16.0             67.0            5.0         NaN
2      True            44.0             81.0            4.0        17.0
3      True            23.0            114.0            5.0        24.0
4     False            46.0            112.0            2.0        12.0

   DISCUSSION_COUNT  AVG_NB_READ_TIME_MIN REGISTRATION_IPV4  \
0             124.0                   NaN      81.88.75.170
1              26.0                 24.97               NaN
2             125.0                  7.75   159.202.103.178
3              67.0                 13.40     196.11.132.51
4              63.0                 24.83    159.196.199.20

  REGISTRATION_LOCATION  TOTAL_VOTES_GAVE_NB  TOTAL_VOTES_GAVE_DS  \
0             Argentina                 16.0                 10.0
1           New Zealand                 14.0                  5.0
2            Costa Rica                 16.0                  4.0
3                 Italy                 21.0                 10.0
4               Belgium                 10.0                  6.0

   TOTAL_VOTES_GAVE_DC  ISBOT
0                  3.0    NaN
1                  2.0    NaN
2                  0.0  False
3                  1.0  False
4                  2.0  False

In [150]:
# Check all column names
print(df.columns)

Index(['Unnamed: 0', 'NAME', 'GENDER', 'EMAIL_ID', 'IS_GLOGIN',
       'FOLLOWER_COUNT', 'FOLLOWING_COUNT', 'DATASET_COUNT', 'CODE_COUNT',
       'DISCUSSION_COUNT', 'AVG_NB_READ_TIME_MIN', 'REGISTRATION_IPV4',
       'REGISTRATION_LOCATION', 'TOTAL_VOTES_GAVE_NB', 'TOTAL_VOTES_GAVE_DS',
       'TOTAL_VOTES_GAVE_DC', 'ISBOT'],
      dtype='object')

In [151]:
# Get unique values for each column separately
name_unique = df['NAME'].unique()
gender_unique = df['GENDER'].unique()
email_unique = df['EMAIL_ID'].unique()
is_glogin_unique = df['IS_GLOGIN'].unique()
follower_count_unique = df['FOLLOWER_COUNT'].unique()
following_count_unique = df['FOLLOWING_COUNT'].unique()
dataset_count_unique = df['DATASET_COUNT'].unique()
code_count_unique = df['CODE_COUNT'].unique()
discussion_count_unique = df['DISCUSSION_COUNT'].unique()
avg_nb_read_time_min_unique = df['AVG_NB_READ_TIME_MIN'].unique()
registration_ipv4_unique = df['REGISTRATION_IPV4'].unique()
registration_location_unique = df['REGISTRATION_LOCATION'].unique()
total_votes_gave_nb_unique = df['TOTAL_VOTES_GAVE_NB'].unique()
total_votes_gave_ds_unique = df['TOTAL_VOTES_GAVE_DS'].unique()
total_votes_gave_dc_unique = df['TOTAL_VOTES_GAVE_DC'].unique()
isbot_unique = df['ISBOT'].unique()

# Print unique values for each column
print('Unique values in NAME:', name_unique)
print('Unique values in GENDER:', gender_unique)
print('Unique values in EMAIL_ID:', email_unique)
print('Unique values in IS_GLOGIN:', is_glogin_unique)
print('Unique values in FOLLOWER_COUNT:', follower_count_unique)
print('Unique values in FOLLOWING_COUNT:', following_count_unique)
print('Unique values in DATASET_COUNT:', dataset_count_unique)
print('Unique values in CODE_COUNT:', code_count_unique)
print('Unique values in DISCUSSION_COUNT:', discussion_count_unique)
print('Unique values in AVG_NB_READ_TIME_MIN:', avg_nb_read_time_min_unique)
print('Unique values in REGISTRATION_IPV4:', registration_ipv4_unique)
print('Unique values in REGISTRATION_LOCATION:', registration_location_unique)
print('Unique values in TOTAL_VOTES_GAVE_NB:', total_votes_gave_nb_unique)
print('Unique values in TOTAL_VOTES_GAVE_DS:', total_votes_gave_ds_unique)
print('Unique values in TOTAL_VOTES_GAVE_DC:', total_votes_gave_dc_unique)
print('Unique values in ISBOT:', isbot_unique)

Unique values in NAME: ['Johnny KerrThomas' 'Dwayne LarsenLara' nan ... 'Hector TerryLogan'
 'William CollinsMartinez' 'Susan WilliamsJimenez']
Unique values in GENDER: ['Male' 'Female' nan]
Unique values in EMAIL_ID: ['jacksonalan@example.com' 'calvin80@example.com' 'qbrown@example.net' ...
 'penningtondebra@example.net' 'kerrycastro@example.com'
 'jonesmisty@example.net']
Unique values in IS_GLOGIN: [False True nan]
Unique values in FOLLOWER_COUNT: [53. 16. 44. 23. 46.  2. 50. 65. nan 70. 49.  0. 45. 55. 34. 19. 21.  3.
 38. 57. 29. 10. 58. 61.  9. 64.  1. 48. 12. 32. 60. 27. 20. 18. 54. 37.
 63. 17. 26. 39. 56. 41. 51. 31. 62.  4. 25. 69. 59.  8. 15. 66. 36. 22.
 28.  6. 30. 24. 14. 67. 52. 11. 40. 13. 42. 43. 33. 68.  7. 35.  5. 47.]
Unique values in FOLLOWING_COUNT: [ 87.  67.  81. 114. 112.   2.  36.   1.  25.  99.  44.  18.  14.  nan
  15.  30.  62.  55.   3. 115.  84.   0. 120.  97.  17.  37.  68.  54.
  75.  34. 107.  90.  88.  91.  86.  38.  53.  63.  51.  35.  29.  23.
   4.  83.  73.  10.  72.  58.  78.  59.  60. 111.  80. 106.  76.  65.
  13.  69.  32.  96. 113.  79.  77.   9. 109.  41. 117.  33.  43.  12.
  89.   5.  19.  46. 119.  26.  64.  57.  11.  48. 116.  16.  45.  28.
  52. 101.  49.  21.  82.  93.  39.  27.  92.   6.   7.   8.  98.  22.
 118.  31.  24. 110.  71. 102.  85.  40. 104.  47.  61.  56.  42. 105.
  70.  66. 100.  74.  95.  94. 103. 108.  20.  50.]
Unique values in DATASET_COUNT: [ 5.  4.  2.  0.  1.  7.  3.  6. nan]
Unique values in CODE_COUNT: [ 3. nan 17. 24. 12.  0. 16.  7. 19.  5. 23. 25. 21. 20. 18. 13.  6.  1.
 15.  8. 14. 11.  4. 22. 10.  9.]
Unique values in DISCUSSION_COUNT: [124.  26. 125.  67.  63.   0.  77.   6. 122.  93. 102.  75. 106.  58.
  10. 104. 143. 138.   4.  95. 119. 127.  76.  90.   7. 144.  53.   1.
  34.  73. 141.  11.   9.   2. 123.  74.  48.  29.  70. 126.  nan 107.
 135.  86.  69. 117.  83.  80.  41.  42.   3.  92.  84.  31.  99.  55.
  47.  13.  89.  30.  43.  28.   8.  71. 118.  54. 142.  59.  56.  81.
  38.  79.  27. 137.  40. 128. 132. 103.  65.  36.  60.  72.  49. 139.
  51.  35. 109.  98. 146.  64. 149.  66.  33.  96.  45.  91.  39.  37.
  25. 147. 150.  61. 115.  88.  12. 120. 133. 111.  82.  94.  97.  85.
  68.  52. 110. 130.   5.  50.  44. 101. 145. 131. 140. 114. 148. 105.
 129. 112. 108. 136. 121. 113.  32.  62. 134.  78.  57.  46. 100.  87.
 116.]
Unique values in AVG_NB_READ_TIME_MIN: [  nan 24.97  7.75 ...  8.92 25.44 21.82]
Unique values in REGISTRATION_IPV4: ['81.88.75.170' nan '159.202.103.178' ... '150.144.209.44'
 '146.121.179.46' '118.38.253.89']
Unique values in REGISTRATION_LOCATION: ['Argentina' 'New Zealand' 'Costa Rica' 'Italy' 'Belgium'
 'French Polynesia' 'South Georgia and the South Sandwich Islands'
 'Antarctica (the territory South of 60 deg S)' nan 'Saint Lucia'
 'Martinique' 'Aruba' 'Djibouti' 'Honduras' 'Mali' 'Burkina Faso'
 'Equatorial Guinea' 'Estonia' 'Qatar' 'China' 'El Salvador' 'Gambia'
 'Saudi Arabia' 'Sao Tome and Principe' 'Jordan' 'Portugal' 'Tonga'
 'Greenland' 'Bolivia' 'Zimbabwe' 'Sudan' 'Mexico' 'Poland' 'South Africa'
 'Spain' 'Bangladesh' 'Cuba' 'Iceland' 'Montserrat' 'Andorra' 'Mongolia'
 'Cambodia' 'Niger' 'Netherlands' 'Saint Vincent and the Grenadines'
 'Comoros' 'Zambia' 'Malaysia' 'Guinea' 'Japan' 'Kiribati' 'France'
 'Guyana' 'Cook Islands' 'Bosnia and Herzegovina' 'Brunei Darussalam'
 'Netherlands Antilles' 'Bulgaria' 'Bouvet Island (Bouvetoya)' 'Indonesia'
 'Paraguay' 'Guadeloupe' 'Iran' 'Reunion' 'Saint Kitts and Nevis'
 'Botswana' 'Oman' 'Anguilla' 'Latvia' 'Venezuela' 'Mauritania'
 'Lithuania' 'Sierra Leone' 'Haiti' 'Senegal' 'Korea' 'Vanuatu' 'Nepal'
 'Burundi' 'Uzbekistan' 'Singapore' 'Canada' 'Malawi' 'Dominica' 'Ukraine'
 'Iraq' 'Solomon Islands' 'Macedonia' 'Somalia' 'Belize' 'Maldives'
 'Serbia' 'Pakistan' 'Peru' 'Papua New Guinea' 'Vietnam' 'Ethiopia'
 'Cyprus' 'Ireland' 'Jersey' 'Israel' 'India' 'Niue' 'Sri Lanka'
 "Lao People's Democratic Republic" "Cote d'Ivoire" 'Guam' 'Fiji'
 'Nigeria' 'Grenada' 'New Caledonia' 'Saint Pierre and Miquelon' 'Benin'
 'Kuwait' 'Bhutan' 'French Guiana' 'San Marino' 'Kazakhstan'
 'American Samoa' 'Tuvalu' 'Turkmenistan' 'Marshall Islands' 'Brazil'
 'Philippines' 'Macao' 'Croatia' 'British Virgin Islands' 'Lesotho'
 'Pitcairn Islands' 'Algeria' 'Albania' 'Puerto Rico' 'Rwanda' 'Taiwan'
 'Cameroon' 'Monaco' 'Bahamas' 'Angola' 'Norway' 'Antigua and Barbuda'
 'Slovenia' 'Falkland Islands (Malvinas)' 'Guernsey' 'Nicaragua' 'Gabon'
 'Russian Federation' 'Samoa' 'Northern Mariana Islands' 'Cayman Islands'
 'Kenya' 'Palestinian Territory' 'Kyrgyz Republic' 'United Kingdom'
 'Norfolk Island' 'Slovakia (Slovak Republic)' 'Hungary'
 'British Indian Ocean Territory (Chagos Archipelago)' 'Mauritius'
 'Uruguay' 'Tokelau' 'Colombia' 'Montenegro' 'Tajikistan' 'Romania'
 'Liechtenstein' 'Morocco' 'Tunisia' 'Czech Republic' 'Dominican Republic'
 'Malta' 'Armenia' 'United States Minor Outlying Islands' 'Namibia'
 'Tanzania' 'Central African Republic' 'Yemen' 'Barbados' 'Swaziland'
 'Svalbard & Jan Mayen Islands' 'Saint Martin' 'Gibraltar'
 'Wallis and Futuna' 'Ghana' 'Mayotte' 'Mozambique' 'Moldova' 'Eritrea'
 'Hong Kong' 'United States Virgin Islands' 'Guinea-Bissau' 'Luxembourg'
 'Faroe Islands' 'Heard Island and McDonald Islands' 'Sweden' 'Cape Verde'
 'Micronesia' 'Azerbaijan' 'Syrian Arab Republic' 'Palau'
 'United States of America' 'Congo' 'Madagascar' 'Belarus' 'Togo'
 'Saint Helena' 'United Arab Emirates' 'Bahrain' 'Ecuador' 'Isle of Man'
 'Switzerland' 'Chad' 'Afghanistan' 'Denmark' 'Jamaica' 'Turkey'
 'Suriname' 'Western Sahara' 'Chile' 'Nauru' 'Christmas Island' 'Thailand'
 'Liberia' 'Georgia' 'Finland' 'Greece' 'Myanmar' 'Germany'
 'Turks and Caicos Islands' 'Panama' 'Cocos (Keeling) Islands' 'Bermuda'
 'Seychelles' 'Trinidad and Tobago' 'Egypt' 'Lebanon' 'Uganda'
 'French Southern Territories' 'Holy See (Vatican City State)'
 'Timor-Leste' 'Guatemala' 'Libyan Arab Jamahiriya' 'Austria'
 'Saint Barthelemy' 'Australia']
Unique values in TOTAL_VOTES_GAVE_NB: [16. 14. 21. 10. 18. nan 24. 23. 13. 25. 12. 17. 19. 11. 15. 22. 20.]
Unique values in TOTAL_VOTES_GAVE_DS: [10.  5.  4.  6.  9.  3.  7.  8. nan]
Unique values in TOTAL_VOTES_GAVE_DC: [ 3.  2.  0.  1. nan]
Unique values in ISBOT: [nan False True]

In [152]:
# Step 0: Before cleaning - Print basic info and summary
print("Before Cleaning:")
print(df.info())  # Info about columns, data types, and non-null counts
print("\nSummary statistics (before):")
print(df.describe(include='all'))  # Summary statistics before cleaning

# Step 1: Remove unnecessary columns
df = df.drop(columns=['Unnamed: 0'])

# Step 2: Handle missing values
# For categorical columns
df['NAME'] = df['NAME'].fillna('Unknown')
df['GENDER'] = df['GENDER'].fillna('Unknown')
df['EMAIL_ID'] = df['EMAIL_ID'].fillna('unknown@example.com')
df['IS_GLOGIN'] = df['IS_GLOGIN'].fillna(False)

# For numerical columns (e.g., filling NaNs with mean)
df['FOLLOWER_COUNT'] = df['FOLLOWER_COUNT'].fillna(df['FOLLOWER_COUNT'].mean())
df['FOLLOWING_COUNT'] = df['FOLLOWING_COUNT'].fillna(df['FOLLOWING_COUNT'].mean())
df['DATASET_COUNT'] = df['DATASET_COUNT'].fillna(0)  # Assuming 0 is a reasonable fill
df['CODE_COUNT'] = df['CODE_COUNT'].fillna(0)
df['DISCUSSION_COUNT'] = df['DISCUSSION_COUNT'].fillna(0)
df['AVG_NB_READ_TIME_MIN'] = df['AVG_NB_READ_TIME_MIN'].fillna(df['AVG_NB_READ_TIME_MIN'].mean())
df['TOTAL_VOTES_GAVE_NB'] = df['TOTAL_VOTES_GAVE_NB'].fillna(0)
df['TOTAL_VOTES_GAVE_DS'] = df['TOTAL_VOTES_GAVE_DS'].fillna(0)
df['TOTAL_VOTES_GAVE_DC'] = df['TOTAL_VOTES_GAVE_DC'].fillna(0)

# Step 3: Standardize categorical values (if needed)
df['GENDER'] = df['GENDER'].str.title()  # Capitalize gender values

# Step 4: Convert data types
df['FOLLOWER_COUNT'] = df['FOLLOWER_COUNT'].astype(int)
df['FOLLOWING_COUNT'] = df['FOLLOWING_COUNT'].astype(int)

# Step 5: Remove duplicates
df = df.drop_duplicates()

# Step 6: After cleaning - Print basic info and summary
print("\nAfter Cleaning:")
print(df.info())  # Info about columns, data types, and non-null counts
print("\nSummary statistics (after):")
print(df.describe(include='all'))  # Summary statistics after cleaning

Before Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321188 entries, 0 to 1321187
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1321188 non-null  int64
 1   NAME                   1243024 non-null  object
 2   GENDER                 1243309 non-null  object
 3   EMAIL_ID               1243374 non-null  object
 4   IS_GLOGIN              1243272 non-null  object
 5   FOLLOWER_COUNT         1243476 non-null  float64
 6   FOLLOWING_COUNT        1242743 non-null  float64
 7   DATASET_COUNT          1242621 non-null  float64
 8   CODE_COUNT             1243262 non-null  float64
 9   DISCUSSION_COUNT       1243466 non-null  float64
 10  AVG_NB_READ_TIME_MIN   1242872 non-null  float64
 11  REGISTRATION_IPV4      1242859 non-null  object
 12  REGISTRATION_LOCATION  1242898 non-null  object
 13  TOTAL_VOTES_GAVE_NB    1243483 non-null  float64
 14  TOTAL_VOTES_GAVE_DS    1243254 non-null  float64
 15  TOTAL_VOTES_GAVE_DC    1243158 non-null  float64
 16  ISBOT                  1242688 non-null  object
dtypes: float64(9), int64(1), object(7)
memory usage: 171.4+ MB
None

Summary statistics (before):
          Unnamed: 0              NAME   GENDER            EMAIL_ID IS_GLOGIN  \
count   1.321188e+06           1243024  1243309             1243374   1243272
unique           NaN           1199433        2              603013         2
top              NaN  David SmithSmith     Male  csmith@example.org     False
freq             NaN                17   932220                 117    788359
mean    6.605935e+05               NaN      NaN                 NaN       NaN
std     3.813943e+05               NaN      NaN                 NaN       NaN
min     0.000000e+00               NaN      NaN                 NaN       NaN
25%     3.302968e+05               NaN      NaN                 NaN       NaN
50%     6.605935e+05               NaN      NaN                 NaN       NaN
75%     9.908902e+05               NaN      NaN                 NaN       NaN
max     1.321187e+06               NaN      NaN                 NaN       NaN

        FOLLOWER_COUNT  FOLLOWING_COUNT  DATASET_COUNT    CODE_COUNT  \
count     1.243476e+06     1.242743e+06   1.242621e+06  1.243262e+06
unique             NaN              NaN            NaN           NaN
top                NaN              NaN            NaN           NaN
freq               NaN              NaN            NaN           NaN
mean      2.698273e+01     4.505091e+01   2.562564e+00  1.038450e+01
std       2.300504e+01     3.947716e+01   2.499882e+00  8.248055e+00
min       0.000000e+00     0.000000e+00   0.000000e+00  0.000000e+00
25%       2.000000e+00     3.000000e+00   0.000000e+00  1.000000e+00
50%       2.400000e+01     3.900000e+01   2.000000e+00  1.000000e+01
75%       4.700000e+01     8.000000e+01   5.000000e+00  1.800000e+01
max       7.000000e+01     1.200000e+02   7.000000e+00  2.500000e+01

        DISCUSSION_COUNT  AVG_NB_READ_TIME_MIN REGISTRATION_IPV4  \
count       1.243466e+06          1.242872e+06           1242859
unique               NaN                   NaN           1242579
top                  NaN                   NaN    195.32.175.129
freq                 NaN                   NaN                 2
mean        6.584244e+01          1.274225e+01               NaN
std         4.754315e+01          9.564920e+00               NaN
min         0.000000e+00          0.000000e+00               NaN
25%         1.300000e+01          1.870000e+00               NaN
50%         6.500000e+01          1.229000e+01               NaN
75%         1.080000e+02          2.119000e+01               NaN
max         1.500000e+02          2.999000e+01               NaN

       REGISTRATION_LOCATION  TOTAL_VOTES_GAVE_NB  TOTAL_VOTES_GAVE_DS  \
count                1242898         1.243483e+06         1.243254e+06
unique                   243                  NaN                  NaN
top                    Korea                  NaN                  NaN
freq                   10128                  NaN                  NaN
mean                     NaN         1.750656e+01         6.501007e+00
std                      NaN         4.611783e+00         2.290951e+00
min                      NaN         1.000000e+01         3.000000e+00
25%                      NaN         1.400000e+01         5.000000e+00
50%                      NaN         1.800000e+01         7.000000e+00
75%                      NaN         2.200000e+01         9.000000e+00
max                      NaN         2.500000e+01         1.000000e+01

        TOTAL_VOTES_GAVE_DC    ISBOT
count          1.243158e+06  1242688
unique                  NaN        2
top                     NaN    False
freq                    NaN   909794
mean           1.500373e+00      NaN
std            1.118067e+00      NaN
min            0.000000e+00      NaN
25%            1.000000e+00      NaN
50%            2.000000e+00      NaN
75%            3.000000e+00      NaN
max            3.000000e+00      NaN

After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321188 entries, 0 to 1321187
Data columns (total 16 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   NAME                   1321188 non-null  object
 1   GENDER                 1321188 non-null  object
 2   EMAIL_ID               1321188 non-null  object
 3   IS_GLOGIN              1321188 non-null  bool
 4   FOLLOWER_COUNT         1321188 non-null  int32
 5   FOLLOWING_COUNT        1321188 non-null  int32
 6   DATASET_COUNT          1321188 non-null  float64
 7   CODE_COUNT             1321188 non-null  float64
 8   DISCUSSION_COUNT       1321188 non-null  float64
 9   AVG_NB_READ_TIME_MIN   1321188 non-null  float64
 10  REGISTRATION_IPV4      1242859 non-null  object
 11  REGISTRATION_LOCATION  1242898 non-null  object
 12  TOTAL_VOTES_GAVE_NB    1321188 non-null  float64
 13  TOTAL_VOTES_GAVE_DS    1321188 non-null  float64
 14  TOTAL_VOTES_GAVE_DC    1321188 non-null  float64
 15  ISBOT                  1242688 non-null  object
dtypes: bool(1), float64(7), int32(2), object(6)
memory usage: 142.4+ MB
None

Summary statistics (after):
           NAME   GENDER             EMAIL_ID IS_GLOGIN  FOLLOWER_COUNT  \
count   1321188  1321188              1321188   1321188    1.321188e+06
unique  1199434        3               603014         2             NaN
top     Unknown     Male  unknown@example.com     False             NaN
freq      78164   932220                77814    866275             NaN
mean        NaN      NaN                  NaN       NaN    2.692493e+01
std         NaN      NaN                  NaN       NaN    2.231941e+01
min         NaN      NaN                  NaN       NaN    0.000000e+00
25%         NaN      NaN                  NaN       NaN    2.000000e+00
50%         NaN      NaN                  NaN       NaN    2.600000e+01
75%         NaN      NaN                  NaN       NaN    4.600000e+01
max         NaN      NaN                  NaN       NaN    7.000000e+01

        FOLLOWING_COUNT  DATASET_COUNT    CODE_COUNT  DISCUSSION_COUNT  \
count      1.321188e+06   1.321188e+06  1.321188e+06      1.321188e+06
unique              NaN            NaN           NaN               NaN
top                 NaN            NaN           NaN               NaN
freq                NaN            NaN           NaN               NaN
mean       4.504789e+01   2.410176e+00  9.772007e+00      6.196911e+01
std        3.828725e+01   2.499011e+00  8.366790e+00      4.865602e+01
min        0.000000e+00   0.000000e+00  0.000000e+00      0.000000e+00
25%        3.000000e+00   0.000000e+00  1.000000e+00      1.000000e+01
50%        4.400000e+01   2.000000e+00  9.000000e+00      5.900000e+01
75%        7.700000e+01   5.000000e+00  1.700000e+01      1.050000e+02
max        1.200000e+02   7.000000e+00  2.500000e+01      1.500000e+02

        AVG_NB_READ_TIME_MIN REGISTRATION_IPV4 REGISTRATION_LOCATION  \
count           1.321188e+06           1242859               1242898
unique                   NaN           1242579                   243
top                      NaN    195.32.175.129                 Korea
freq                     NaN                 2                 10128
mean            1.274225e+01               NaN                   NaN
std             9.277100e+00               NaN                   NaN
min             0.000000e+00               NaN                   NaN
25%             1.980000e+00               NaN                   NaN
50%             1.274225e+01               NaN                   NaN
75%             2.059000e+01               NaN                   NaN
max             2.999000e+01               NaN                   NaN

        TOTAL_VOTES_GAVE_NB  TOTAL_VOTES_GAVE_DS  TOTAL_VOTES_GAVE_DC    ISBOT
count          1.321188e+06         1.321188e+06         1.321188e+06  1242688
unique                  NaN                  NaN                  NaN        2
top                     NaN                  NaN                  NaN    False
freq                    NaN                  NaN                  NaN   909794
mean           1.647692e+01         6.117527e+00         1.411760e+00      NaN
std            6.081361e+00         2.699040e+00         1.140764e+00      NaN
min            0.000000e+00         0.000000e+00         0.000000e+00      NaN
25%            1.300000e+01         4.000000e+00         0.000000e+00      NaN
50%            1.700000e+01         6.000000e+00         1.000000e+00      NaN
75%            2.100000e+01         8.000000e+00         2.000000e+00      NaN
max            2.500000e+01         1.000000e+01         3.000000e+00      NaN

In [153]:
# Handle missing values for REGISTRATION_IPV4 and REGISTRATION_LOCATION
df['REGISTRATION_IPV4'] = df['REGISTRATION_IPV4'].fillna('Unknown')
df['REGISTRATION_LOCATION'] = df['REGISTRATION_LOCATION'].fillna('Unknown')

# Handle missing values for ISBOT
df['ISBOT'] = df['ISBOT'].fillna('Unknown')  # Or you can set to False if that's more appropriate

# Optional: Convert float columns to int if applicable
float_columns = ['DATASET_COUNT', 'CODE_COUNT', 'DISCUSSION_COUNT', 'AVG_NB_READ_TIME_MIN',
                 'TOTAL_VOTES_GAVE_NB', 'TOTAL_VOTES_GAVE_DS', 'TOTAL_VOTES_GAVE_DC']

for col in float_columns:
    df[col] = df[col].astype(int)

# Check the updated DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321188 entries, 0 to 1321187
Data columns (total 16 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   NAME                   1321188 non-null  object
 1   GENDER                 1321188 non-null  object
 2   EMAIL_ID               1321188 non-null  object
 3   IS_GLOGIN              1321188 non-null  bool
 4   FOLLOWER_COUNT         1321188 non-null  int32
 5   FOLLOWING_COUNT        1321188 non-null  int32
 6   DATASET_COUNT          1321188 non-null  int32
 7   CODE_COUNT             1321188 non-null  int32
 8   DISCUSSION_COUNT       1321188 non-null  int32
 9   AVG_NB_READ_TIME_MIN   1321188 non-null  int32
 10  REGISTRATION_IPV4      1321188 non-null  object
 11  REGISTRATION_LOCATION  1321188 non-null  object
 12  TOTAL_VOTES_GAVE_NB    1321188 non-null  int32
 13  TOTAL_VOTES_GAVE_DS    1321188 non-null  int32
 14  TOTAL_VOTES_GAVE_DC    1321188 non-null  int32
 15  ISBOT                  1321188 non-null  object
dtypes: bool(1), int32(9), object(6)
memory usage: 107.1+ MB
None

In [154]:
# Drop rows with NaN values in the ISBOT column
data_cleaned = df.dropna(subset=['ISBOT'])

# Now you can separate bots and non-bots
bots = data_cleaned[data_cleaned['ISBOT'] == True]
nonbots = data_cleaned[data_cleaned['ISBOT'] == False]
# Optional: print the counts
print("Number of bots:", bots.shape[0])
print("Number of non-bots:", nonbots.shape[0])

Number of bots: 332894
Number of non-bots: 909794

In [155]:
# Display the unique values in the ISBOT column
print(data_cleaned['ISBOT'].unique())

['Unknown' False True]

In [156]:
# Get the count of each value in the ISBOT column
print(data_cleaned['ISBOT'].value_counts())

ISBOT
False      909794
True       332894
Unknown     78500
Name: count, dtype: int64

In [157]:
# Remove rows where ISBOT is 'Unknown'
data_cleaned = data_cleaned[data_cleaned['ISBOT'] != 'Unknown']

In [158]:
# Convert ISBOT to binary (1 for True, 0 for False)
data_cleaned['ISBOT_BINARY'] = data_cleaned['ISBOT'].astype(int)

In [159]:
# Get the count of each value in the ISBOT column
print(data_cleaned['ISBOT'].value_counts())

ISBOT
False    909794
True     332894
Name: count, dtype: int64

In [160]:
# Map True to 0 and False to 1 in the ISBOT column
data_cleaned['ISBOT_BINARY'] = data_cleaned['ISBOT'].map({True: 0, False: 1})

# Verify the changes
print(data_cleaned[['ISBOT', 'ISBOT_BINARY']].head())

   ISBOT  ISBOT_BINARY
2  False             1
3  False             1
4  False             1
5   True             0
6  False             1

In [143]:
# Assuming 'data_cleaned' is your final DataFrame after cleaning
data_cleaned.to_csv('cleaned_data.csv', index=False)

NameError: name 'data_cleaned' is not defined